#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if knot_config %}
server:
  rundir: "{{ knot_config.server.rundir }}"
  user: {{ knot_user }}:{{ knot_group }}
  {% if knot_config.server.listen %}
    {% for listen in knot_config.server.listen %}
  listen: {{ listen }}
    {% endfor %}

  {% endif %}
  {% if knot_config.log %}
log:
    {% set _valid_target = ["stdout", "stderr", "syslog"] %}
    {% set _valid_level = ["critical", "error", "warning", "notice", "info", "debug"] %}
    {% set _valid_keys = ["target", "server", "control", "zone", "any"] %}
    {% for k, v in knot_config.log.items() %}
  - target: {{ k }}
      {% for x, y in v.items() %}
        {% if y not in _valid_level %}
          {% set y = "info" %}
        {% endif %}
        {% if x in _valid_keys %}
    {{ x }}: {{ y }}
        {% endif %}
      {% endfor %}
    {% endfor %}

  {% endif %}
  {% if knot_config.key %}
key:
    {% for k, v in knot_config.key.items() %}
  - id: {{ k }}
      {% for x,y in v.items() %}
    {{ x }}: {{ y }}
      {% endfor %}
    {% endfor %}

  {% endif %}
  {% if knot_config.database %}
database:
    {% for x,y in knot_config.database.items() %}
  {{ x }}: {{ y }}
    {% endfor %}

  {% endif %}
  {% if knot_config.remote %}
remote:
    {% for k, v in knot_config.remote.items() %}
  - id: {{ k }}
      {% for x,y in v.items() %}
    {{ x }}: {{ y }}
      {% endfor %}
    {% endfor %}

  {% endif %}
  {% if knot_config.acl %}
acl:
    {% for k, v in knot_config.acl.items() %}
  - id: {{ k }}
      {% for x,y in v.items() %}
    {{ x }}: {{ y }}
      {% endfor %}
    {% endfor %}

  {% endif %}
  {% if knot_config.template %}
template:
    {% for k, v in knot_config.template.items() %}
  - id: {{ k }}
      {% for x,y in v.items() %}
    {{ x }}: {{ y }}
      {% endfor %}
    {% endfor %}

  {% endif %}
  {% if knot_config.zone %}
zone:
    {% for k, v in knot_config.zone.items() %}
  - domain: {{ k }}
      {% for x,y in v.items() %}
    {{ x }}: {{ y }}
      {% endfor %}
    {% endfor %}

  {% endif %}
  {% if knot_config.control %}
control:
    {% for x,y in knot_config.control.items() %}
  {{ x }}: {{ y }}
    {% endfor %}

  {% endif %}
  {% if knot_config.statistics %}
statistics:
    {% for x,y in knot_config.statistics.items() %}
  {{ x }}: {{ y }}
    {% endfor %}

  {% endif %}
  {% if knot_config.submission %}
submission:
    {% for k, v in knot_config.submission.items() %}
  - id: {{ k }}
      {% for x,y in v.items() %}
    {{ x }}: {{ y }}
      {% endfor %}
    {% endfor %}

  {% endif %}
  {% if knot_config.policy %}
policy:
    {% for k, v in knot_config.policy.items() %}
  - id: {{ k }}
      {% for x,y in v.items() %}
    {{ x }}: {{ y }}
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endif %}
